<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        
        <section th:replace="~{lista/fragmentos :: botonesAgregar}"></section>
        <section th:replace="~{lista/fragmentos :: agregarLista}"></section>
        <section th:replace="~{lista/fragmentos :: listadoListas}"></section>
        
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
